.vertical-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
    height: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 100%;
}

.flex-footer {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    width: 100%;
}

.main {
    width: 100%;
    min-width: 200px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
.row{
    width: 100%;
    min-width: 200px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.tool-tip>.text{
    text-align: left;
}

#fade-in{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
